.pre {
  overflow: auto;
  width: 40rem;
  padding: 1rem;
  border: solid 1px var(--color-black);
  margin-top: 2rem;
  background-color: var(--color-base);
  border-radius: 1rem;
  color: var(--color-black);
}
